body {
  color: #333336;
  background-color: rgba(0, 255, 255, 0.059);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

.cta-btn {
  text-align: center;
  padding: 50px;
  & a {
    background-color: aqua;
    padding: 10px 200px;
  }
}

.back-btn {
  /* border: 2px red solid; */
  padding-left: 150px;

  img {
    height: 50px;
    width: 50px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

.nav {
  display: flex;

  justify-content: space-between;
  box-shadow: 0 1px 2px -6px rgb(80, 80, 255), 0 2px 3px -4px rgb(80, 80, 255),
    0 4px 3px -6px #00aaff, 0 6px 3px -8px rgb(80, 80, 255),
    0 10px 5px -10px rgb(80, 80, 255);
}

.nav-links {
  width: 60%;
  text-transform: uppercase;
}

.nav-links ul {
  display: flex;
  justify-content: space-between;

  & li {
    transition: all 0.2s ease-in;
  }

  & li:hover {
    transform: translateY(-3px) scale(1.1);
  }
}

header {
  text-align: center;
  padding: 50px 50px 10px;
}

.container {
  height: 100vh;
}

.main {
  display: flex;
  padding: 30px;
  justify-content: center;
}

.main-content {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.main-left-content {
  width: 1000px;
  height: 500px;

  & img {
    background-size: cover;
    border-radius: 20px;
  }
}

.main-img {
  width: 100%;
  height: 100%;
}

.main-right-content {
  padding: 0 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;

  & a {
    border-radius: 6px;
    padding: 50px;
    background-color: rgb(75, 114, 255);
    color: aliceblue;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  }
}

.main-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

  & .main-gallery-item {
    width: 500px;

    & img {
      border-radius: 10px;
      box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.6);
    }
  }
}

.selected-item-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;

  & .selected-item-photo,
  .selected-item-info {
    width: 500px;

    & img {
      border-radius: 20px;
      box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.6);
    }
  }
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  & .about-content {
    width: 70%;
    line-height: 25px;
    font-size: 20px;
  }

  & .about-images {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 50px;
    justify-content: center;
    & img {
      height: 300px;
      border-radius: 10px;
      box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.6);
    }
  }
}

.food-container {
  display: flex;
  gap: 25px;
  justify-content: center;

  & .food-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    line-height: 25px;

    & div {
      padding-top: 50px;
    }

    & img {
      border-radius: 10px;
      box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.6);
      height: 500px;
    }
  }
}
