body {
  color: rgb(255, 119, 0);
  background-color: rgba(0, 255, 255, 0.059);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.nav {
  display: flex;

  justify-content: space-between;
  box-shadow: 0px 3px 4px -4px rgba(0, 0, 0, 0.6);
}

.nav-links {
  width: 60%;
}

.nav-links ul {
  display: flex;
  justify-content: space-between;
}

header {
  text-align: center;
  padding: 50px;
}

.container {
  height: 100vh;
}

.main {
  display: flex;
  padding: 30px;
}

.main-left-content {
  width: 1000px;
  height: 500px;

  & img {
    background-size: cover;
    border-radius: 6px;
  }
}

.main-img {
  width: 100%;
  height: 100%;
}

.main-right-content {
  padding: 0 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;

  & a {
    border-radius: 6px;
    padding: 50px;
    background-color: rgb(75, 114, 255);
    color: aliceblue;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  }
}
